<div class="container mt-2">
    <div class="flex">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Like</a>
            </div>
          </div>

          <div>
            <p>Today is {{today | date}}</p>
            <p>Or if you prefer, {{today | date:'fullDate'}}</p>
            <p>The time is {{today | date:'h:mm a z'}}</p>
          </div>

          <div class="dropdown-collection">
            <button class="dropdown-button" (click)="toggleDropdown()" (clickOutside)="dropdownOpen = false" >
                <span id="dropdown-label">{{title}}: </span><span class="dropdown-value">{{currentValue.name}}</span>
            </button>
            <ul class="dropdown-list" role="listbox" [ngClass]="{'dropdown-open' : dropdownOpen}" >
                <li >First</li>
                <li >Second</li>
            </ul>
        </div>
        
        <div>
          <section class="sample-app-content">
            <h1>Template-driven Form Example:</h1>
            <form #myForm="ngForm" (ngSubmit)="onSubmitTemplateBased()">
                <p>
                    <label>First Name:</label>
                    <input type="text"  
                        required>
                </p>
                <p>
                    <label>Password:</label>
                    <input type="password"  
                         required>
                </p>
                <p>
                    <button type="submit" [disabled]="!myForm.valid">Submit</button>
                </p>
            </form>
        </section>
        </div>

    </div>
</div>
